<mat-grid-list cols="3" rowHeight="49vh">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-obese-percentages></app-obese-percentages>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-donors-per-state></app-donors-per-state>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-donors-for-each-blood-type></app-donors-for-each-blood-type>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="49vh">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-average-age-per-blood-type></app-average-age-per-blood-type>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-age-range-imc></app-age-range-imc>
    </mat-grid-tile>
</mat-grid-list>